<html>
<body>
<form action="create-post" method="post">
    <input type="text" placeholder="Write a post" name="text" />
    <button type="submit">Submit</button>
</form>
<form action="delete-post" method="post">
    <input type="number" placeholder="Post #" name="postid"/>
    <button type="submit">Delete</button>
</form>
<form action="edit-post" method="post">
    <input type="number" placeholder="Post #" name="postid"/>
    <input type="text" placeholder="Write new post" name="text" size="50"/>
    <button type="submit">Edit</button>
</form>
Posts by {{username}}: <br>
{{#posts}}
{{id}}. {{text}} <br>
{{/posts}}
</body>
</html>